/* 首頁 */
.welcome-body{
	margin-top: 20px;
}
.poster-img{
	width: 100%;
}
.recommendAct{
	border: medium;
	border-color: gray;
}
div.gov{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
span.time{
	float:right;
	padding-right: 10px;
}

/* 登入、忘記密碼、變更密碼、註冊畫面表單 */
div.login-form{
	padding-top: 30px;
}